#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // LAYER 0: BASIS (Deutsches QWERTZ)

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R      &kp T          &kp Z       &kp U        &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F      &kp G          &kp H       &kp J        &kp K      &kp L    &kp MINUS
&kp Y  &kp X  &kp C  &kp V      &kp B          &kp N       &kp M        &kp COMMA  &kp DOT  &kp SLASH
                     &lt 2 TAB  &lt 1 SPACE    &kp LSHIFT  &lt 3 ENTER
            >;
        };

        // LAYER 1: ZAHLEN & UMLAUTE (Linker Daumen gedrückt halten)

        nav_layer {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp LBKT  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none
&kp N6  &kp N7  &kp N8  &kp N9  &kp N0    &none     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none
&none   &none   &none   &none   &none     &none     &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none
                        &trans  &trans    &trans    &trans
            >;
        };

        // LAYER 2: NAVIGATION & PFEILTASTEN (Linker Daumen äußere Taste halten)

        num_layer {
            bindings = <
&none     &none      &none       &none   &none     &none   &kp HOME  &kp UP    &kp END    &kp PG_UP
&kp LALT  &kp LCTRL  &kp LSHIFT  &none   &none     &none   &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN
&none     &none      &none       &none   &none     &none   &none     &none     &none      &none
                                 &trans  &trans    &trans  &trans
            >;
        };

        // LAYER 3: SYMBOLE (Rechter Daumen gedrückt halten)

        sym_layer {
            bindings = <
&kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR
&none     &none   &none     &none     &none        &kp BSLH   &kp LBRC  &kp RBRC   &kp PIPE  &kp GRAVE
&none     &none   &none     &none     &none        &none      &none     &none      &none     &none
                            &trans    &trans       &trans     &trans
            >;
        };

        // LAYER 4: BLUETOOTH & SYSTEM (Rechter Daumen äußere Taste halten)

        media_layer {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none   &none   &none  &none  &bt BT_CLR
&none         &none         &none         &none         &none           &none   &none   &none  &none  &none
&none         &none         &none         &none         &none           &none   &none   &none  &none  &sys_reset
                                          &trans        &trans          &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
